/*styles general*/
.headclass
	{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	}
.mainclass
	{
	width: 80%;
	display: flex;
	margin: 0 auto;

	}
.footerclass
	{
	width: 80%;
	background: #A9A9A9;
	text-align: center;
	margin: 0 auto;
	}

/*styles midle*/
.mainleft
	{
		display: flex;
		width: 15%;
		background: #40E0D0;
		text-align: center;
	}
.maincenter
	{
		display: flex;
		width: 60%;
		background: #6495ED;
		text-align: center;
	}
.mainright
	{
		display: flex;
		width: 25%;
		background: #7B68EE;
		text-align: center;
	}	
